@{
    ViewBag.Title = "Home";
}

<header>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <div class="row center">
                <div class="col s12">
                    <img src="@Url.Content("~/img/LOGO.png")" />
                </div>
            </div>
            <div class="row center">
                <a class="waves-effect waves-light btn-large light-blue lighten-1 pulse" href="@Url.Action("Play", "Home")"><i class="material-icons right">games</i>Jouer</a>
                <a class="btnOpenTap waves-effect waves-light btn-large light-blue lighten-1" href="@Url.Action("Rules", "Home")"><i class="material-icons right">translate</i>Règles</a>
            </div>
            <br><br>
        </div>
    </div>
</header>


<main>
    <div class="container">
        <div class="section">
            <div class="row">

               

            </div>
        </div>
        <br><br>
    </div>

   

</main>


