
@{
    ViewBag.Title = "Règles";
}

<main>
    <div class="container">
        <div class="section">
            <div class="row">
                <h2 class="light-blue-text lighten-1">Règles</h2>
            </div>

            <div class="row">
                
                <div class="col s2"></div>
                <div class="col s8">

                    <div class="card-panel">
                        <p>Vous avez 12 secondes pour trouver un mot appartenant à une catégorie donnée et commençant par une lettre donnée. Tant que vous réusissez, vous repartez pour un tour. Enchaînez le plus de mots justes à la suite !</p>
                    </div>

                </div>
                <div class="col s2"></div>
            </div>

            <div class="row">
                <h3 class="light-blue-text lighten-1">Jokers</h3>
            </div>

            <div class="row">

                <div class="col s12 m4">
                    <div class="card-panel">
                        <div class="icon-block">
                            <h2 class="center amber-text"><i class="material-icons">alarm_on</i></h2>
                            <h5 class="center">Time !</h5>

                            <p class="light">Réinitialisez le minuteur à 12 secondes avant qu'il n'atteigne la limite !</p>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="card-panel">
                        <div class="icon-block">
                            <h2 class="center amber-text"><i class="material-icons">redo</i></h2>
                            <h5 class="center">Next !</h5>

                            <p class="light">La catégorie ne vous inspire pas ? Passez à la suivante sans pénalité !</p>
                        </div>
                    </div>
                </div>


                <div class="col s12 m4">
                    <div class="card-panel">
                        <div class="icon-block">
                            <h2 class="center amber-text"><i class="material-icons">stars</i></h2>
                            <h5 class="center">Cheat !</h5>

                            <p class="light">Vous ne trouvez aucune réponse ? Laissez le jeu trouver pour vous !</p>
                        </div>
                    </div>
                </div>
                   

            </div>

        </div>
        <br><br>
    </div>
</main>



