/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
 
 /*
 
 COLORS : 
	bleu clair : light-blue lighten-1 #29b6f6
	bleu normal : light-blue #03a9f4
	orange clair : amber lighten-1 #ffca28 
	orange normal : amber #ffc107 
 */


  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	background-color: #ffca28 ;
  }

  main {
    flex: 1 0 auto;
  }
      
.firstLetter
{
	font-size : 100px;
	font-weight : bold;
}

.category
{
	font-size : 60px;
	font-weight : bold;
	padding-left: 10px;
	margin-right: 40px;
}

.labelAnswer
{
	font-weight: bold;
}




.input-field input[type=text]{
 border-bottom-color: white;
}

.input-field input[type=password]{
 border-bottom-color: white;
}


#answer
{
	border-bottom-color : #29b6f6;
	border-bottom-width : 5px;
	font-size : 34px;
	font-weight: bold;
}

.bonus
{
	margin-right: 10px;
	margin-left : 20px;
}

.loginForm
{
	margin-top: 50px;
	padding: 30px;
}
 
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}